.shopProductImage {
  width: 150px;
  height: 180px;
}
.shopProduct {
  margin: 30px;
  position: relative;
  border: 1px black solid;
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.productTitle {
  width: 100%;
  padding-top: 15px;
  text-align: center;
  border-top: 1px solid black;
}
