.shopProductImage {
  height: 100%;
}
.productImageContainer {
  max-width: 300px;
  height: 180px;
  padding: 15px;
  margin: 0px auto;
  align-items: center;
  display: flex;
}
.shopProduct {
  border: 1px black solid;
  display: flex;
  flex-direction: column;
  width: 350px;
  margin: 25px;
}
.productTitle {
  width: 100%;
  padding-top: 15px;
  border-top: 1px solid black;
}
