.shopProductImage {
  height: 100%;
}
.productImageContainer {
  height: 180px;
  padding: 15px;
  margin-left: 25%;
}
.shopProduct {
  border: 1px rgb(206, 206, 206) solid;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 350px;
  min-width: 350px;
  margin: 25px;
}
.productTitle {
  padding: 15px;
  height: 60px;
  border-top: 1px rgb(206, 206, 206) solid;
}
.productPrice {
  padding-left: 15px;
}
.shopButton {
  cursor: pointer;
  color: white;
  font-family: poppins;
  background-color: black;
  font-size: 1.6rem;
  font-weight: bold;
  border-radius: 5px;
  width: 90%;
  margin-left: 20px;
  transition: 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
.shopButton:hover {
  color: black;
  background-color: white;
}
.productInfo {
  margin-bottom: 15px;
}

.MuiSnackbarContent-root {
  font-size: 50px;
}
@media (max-width: 450px) {
  .productPrice {
    padding-left: 10px;
    padding-right: 10px;
  }
}
