@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
.mainImage {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./mainImage.jpg");
  height: 50vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.imageText {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  margin: 0;
  font-weight: 100;
  padding-top: 20px;
  padding-left: 15vw;
  padding-bottom: 0px;
  font-size: 5rem;
}
.shopNow {
  cursor: pointer;
  transition: 200ms linear;
}
.shopNow:hover {
  font-weight: bold;
  padding-left: 20vw;
}
