@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
.mainImage {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./mainImage.jpg");
  height: 50vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.imageText {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  margin: 0;
  font-weight: 100;
  padding-top: 25px;
  margin-left: 15vw;
  padding-bottom: 0px;
  font-size: 4rem;
}
.shopNow {
  display: inline;
  cursor: pointer;
  transition: 200ms linear;
}
.shopNow:hover {
  font-weight: bold;
  margin-left: 20vw;
}
@media (max-width: 500px) {
  .imageText {
    font-size: 3rem;
    margin-left: 5vw;
  }
  .mainImage {
    height: 40vh;
  }
}
