.navbar {
  display: flex;
  justify-content: space-around;
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
  background-color: black;
  padding-left: 5vw;
}
.navItem {
  cursor: pointer;
  transition: 100ms linear;
}
.navItem:hover {
  transform: scale(1.2);
}
