@import url("https://fonts.googleapis.com/css2?family=Poppins");

body {
  height: 100vh;
  margin: 0px;
  font-family: Poppins, sans-serif;
  font-size: 1.3rem;
  background-color: rgb(230, 231, 228);
}
a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}
