@import url("https://fonts.googleapis.com/css2?family=Poppins");

body {
  margin: 0;
  font-family: Poppins, sans-serif;
  font-size: 1.3rem;
  background-color: rgb(244, 245, 243);
}
a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}
